.food{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    .food-body{
        padding: 20px 20px 20px 20px;
        width: 100%;
        height: 100%;
    }
}

.ct{
    text-align: center;
   display: inline-block;
   width: 40px;
   border: 1px solid ;
   border-radius: 6px;
}
.cd{
text-align: center;
   display: inline-block;
   width: 40px;
   background: red;
   border-radius: 6px;
}